* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 120px;
  position: relative;
  border-bottom: 2px solid grey;
}

.logo {
  display: flex;
  align-items: center;
  height: 70px;
}

.logo img {
  height: 100%;
}

.logo p {
  font-size: 30px;
  font-weight: 700;
  color: #2f234f;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #0290ff;
  text-decoration: none;
  font-weight: 800;
}

.nav-elements ul a.active {
  color: #0290ff;
  font-weight: 500;
  position: relative;
}

.menu-icon {
  display: none;
}

.rocket_details {
  display: flex;
}

.rocket_image {
  width: 40%;
  height: auto;
}

.rocket_name {
  font-size: 20px;
}

.rocket_description {
  font-size: 18px;
}

.rocket_description span {
  background-color: #0a5d9c;
  border-radius: 5px;
  padding: 5px;
}

.ReserveBtn {
  cursor: pointer;
  border: transparent;
  filter: brightness(150%);
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}

.reserve_btn {
  background-color: #0290ff;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  width: fit-content;
}

.cancel_reserve {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(163, 161, 161);
  color: #02030f;
  border: 1px solid #050508;
}

.mission_table {
  margin-top: 50px;
  background-color: rgb(200, 196, 196);
}

.mission_tr {
  background-color: white;
}

.mission_tr:nth-child(even) {
  background-color: rgb(244, 244, 244);
}

#mission_tr_h {
  background-color: #fff;
}

.mission_tr td {
  padding: 10px;
}

#mission_tr_h td {
  font-weight: 900;
}

.mission_table button {
  width: 10rem;
}

.join_btn {
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.not_member {
  background-color: rgb(123, 122, 122);
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.table {
  background-color: rgb(200, 196, 196);
  width: 400px;
  margin: 20px;
}

.profile_d {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t_body {
  font-size: 25px;
  background-color: #fff;
  padding: 30px;
}

.t_tr_d {
  padding: 20px;
  margin: 20px;
}

.red {
  border: 1px solid red;
  color: red;
}

.blue {
  color: #fff;
  background-color: aqua;
}

.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar a {
    text-decoration: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: -20px;
    top: 60px;
    background-color: grey;
    width: 0;
    height: 30vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 11;
  }

  .nav-elements.active {
    width: 150px;
    color: #fff;
    text-decoration: none;
  }

  .nav-elements ul a.active {
    color: #fff;
    font-weight: 500;
    position: relative;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 70px;
  }

  .logo img {
    height: 60%;
  }

  .logo p {
    font-size: 10px;
    color: #2f234f;
  }

  .rocket_details {
    flex-direction: column;
  }

  .rocket_image {
    width: 100%;
    height: auto;
  }

  .profile_d {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  .missionContainer {
    width: 90vw;
    margin: auto;
  }

  .rocketsContainer {
    width: 90vw;
    margin: auto;
  }

  .t_head {
    width: 100%;
    margin: 0;
  }

  .table {
    width: 80%;
    margin: 0;
  }
}
